custom/
docs/_build/
docs/_venv/
docs/dictionary/tmp
**/__pycache__/
.vscode
.venv/*
.env
.idea/

# history files saved by Local History VSCode extension
.history/

# notes saved by Project Notes VSCode extension
.pnotes/